body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.my-half {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-between;

}

.about-me {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-between;
}


.half-width {
    width: 50%;
    padding: 5%;


}

.half-width img {
    width: 80%;

    border-radius: 40px;


}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.about-me {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

}

.my-recipies {
    margin-top: 100px;
}

.lorem {
    text-align: center;
    width: 60%;
    margin: auto;
}

body {
    margin: 0;
}

.recipe-item {
    width: 40%;
    margin: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 50px gray;
    text-align: center;



}

.recipe-item img {
    width: 80%;
    height: 700px;


}

.recipe {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-between;

}

.fainal {
    margin: 5% 10%;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    box-shadow: 10px 10px 30px grey;

}

.footer {
    color: white;
    background-color: black;
    text-align: center;

}

#eat {
    color: orange;
}

#fresh {
    color: grey;
}